QuestCustomization/Plugins/Service References/B1WS_Orders/OrdersService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="OrdersService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://www.sap.com/SBO/DIS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="OrdersService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sap.com/SBO/DIS">
      <s:element name="GetByParamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Document" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:DocumentParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="RemoveResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="CloseResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="CancelResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="DocumentParams">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="DocEntry" type="s:long" />
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="Document">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="DocEntry" type="s:long" />
            <s:element minOccurs="0" name="DocNum" type="s:long" />
            <s:element minOccurs="0" name="DocType">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="dDocument_Items" />
                  <s:enumeration value="dDocument_Service" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="HandWritten">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Printed">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="psNo" />
                  <s:enumeration value="psYes" />
                  <s:enumeration value="psAmended" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="DocDate" type="s:date" />
            <s:element minOccurs="0" name="DocDueDate" type="s:date" />
            <s:element minOccurs="0" name="CardCode" type="s:string" />
            <s:element minOccurs="0" name="CardName" type="s:string" />
            <s:element minOccurs="0" name="Address" type="s:string" />
            <s:element minOccurs="0" name="NumAtCard" type="s:string" />
            <s:element minOccurs="0" name="DocCurrency" type="s:string" />
            <s:element minOccurs="0" name="DocRate" type="s:double" />
            <s:element minOccurs="0" name="DocTotal" type="s:double" />
            <s:element minOccurs="0" name="Reference1" type="s:string" />
            <s:element minOccurs="0" name="Reference2" type="s:string" />
            <s:element minOccurs="0" name="Comments" type="s:string" />
            <s:element minOccurs="0" name="JournalMemo" type="s:string" />
            <s:element minOccurs="0" name="PaymentGroupCode" type="s:long" />
            <s:element minOccurs="0" name="DocTime" type="s:time" />
            <s:element minOccurs="0" name="SalesPersonCode" type="s:long" />
            <s:element minOccurs="0" name="TransportationCode" type="s:long" />
            <s:element minOccurs="0" name="Confirmed">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="ImportFileNum" type="s:long" />
            <s:element minOccurs="0" name="SummeryType">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="dNoSummary" />
                  <s:enumeration value="dByItems" />
                  <s:enumeration value="dByDocuments" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="ContactPersonCode" type="s:long" />
            <s:element minOccurs="0" name="ShowSCN">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Series" type="s:long" />
            <s:element minOccurs="0" name="TaxDate" type="s:date" />
            <s:element minOccurs="0" name="PartialSupply">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="DocObjectCode" type="s:string" />
            <s:element minOccurs="0" name="ShipToCode" type="s:string" />
            <s:element minOccurs="0" name="Indicator" type="s:string" />
            <s:element minOccurs="0" name="FederalTaxID" type="s:string" />
            <s:element minOccurs="0" name="DiscountPercent" type="s:double" />
            <s:element minOccurs="0" name="PaymentReference" type="s:string" />
            <s:element minOccurs="0" name="CreationDate" type="s:date" />
            <s:element minOccurs="0" name="UpdateDate" type="s:date" />
            <s:element minOccurs="0" name="FinancialPeriod" type="s:long" />
            <s:element minOccurs="0" name="TransNum" type="s:long" />
            <s:element minOccurs="0" name="VatSum" type="s:double" />
            <s:element minOccurs="0" name="VatSumSys" type="s:double" />
            <s:element minOccurs="0" name="VatSumFc" type="s:double" />
            <s:element minOccurs="0" name="NetProcedure">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="DocTotalFc" type="s:double" />
            <s:element minOccurs="0" name="DocTotalSys" type="s:double" />
            <s:element minOccurs="0" name="Form1099" type="s:long" />
            <s:element minOccurs="0" name="Box1099" type="s:string" />
            <s:element minOccurs="0" name="RevisionPo">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="RequriedDate" type="s:date" />
            <s:element minOccurs="0" name="CancelDate" type="s:date" />
            <s:element minOccurs="0" name="BlockDunning">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Submitted">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Segment" type="s:long" />
            <s:element minOccurs="0" name="PickStatus">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Pick">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="PaymentMethod" type="s:string" />
            <s:element minOccurs="0" name="PaymentBlock">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="PaymentBlockEntry" type="s:long" />
            <s:element minOccurs="0" name="CentralBankIndicator" type="s:string" />
            <s:element minOccurs="0" name="MaximumCashDiscount">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Reserve">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Project" type="s:string" />
            <s:element minOccurs="0" name="ExemptionValidityDateFrom" type="s:date" />
            <s:element minOccurs="0" name="ExemptionValidityDateTo" type="s:date" />
            <s:element minOccurs="0" name="WareHouseUpdateType">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="dwh_No" />
                  <s:enumeration value="dwh_OrdersFromVendors" />
                  <s:enumeration value="dwh_CustomerOrders" />
                  <s:enumeration value="dwh_Consignment" />
                  <s:enumeration value="dwh_Stock" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Rounding">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="ExternalCorrectedDocNum" type="s:string" />
            <s:element minOccurs="0" name="InternalCorrectedDocNum" type="s:long" />
            <s:element minOccurs="0" name="NextCorrectingDocument" type="s:long" />
            <s:element minOccurs="0" name="DeferredTax">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="TaxExemptionLetterNum" type="s:string" />
            <s:element minOccurs="0" name="WTApplied" type="s:double" />
            <s:element minOccurs="0" name="WTAppliedFC" type="s:double" />
            <s:element minOccurs="0" name="BillOfExchangeReserved">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="AgentCode" type="s:string" />
            <s:element minOccurs="0" name="WTAppliedSC" type="s:double" />
            <s:element minOccurs="0" name="TotalEqualizationTax" type="s:double" />
            <s:element minOccurs="0" name="TotalEqualizationTaxFC" type="s:double" />
            <s:element minOccurs="0" name="TotalEqualizationTaxSC" type="s:double" />
            <s:element minOccurs="0" name="NumberOfInstallments" type="s:long" />
            <s:element minOccurs="0" name="ApplyTaxOnFirstInstallment">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="WTNonSubjectAmount" type="s:double" />
            <s:element minOccurs="0" name="WTNonSubjectAmountSC" type="s:double" />
            <s:element minOccurs="0" name="WTNonSubjectAmountFC" type="s:double" />
            <s:element minOccurs="0" name="WTExemptedAmount" type="s:double" />
            <s:element minOccurs="0" name="WTExemptedAmountSC" type="s:double" />
            <s:element minOccurs="0" name="WTExemptedAmountFC" type="s:double" />
            <s:element minOccurs="0" name="BaseAmount" type="s:double" />
            <s:element minOccurs="0" name="BaseAmountSC" type="s:double" />
            <s:element minOccurs="0" name="BaseAmountFC" type="s:double" />
            <s:element minOccurs="0" name="WTAmount" type="s:double" />
            <s:element minOccurs="0" name="WTAmountSC" type="s:double" />
            <s:element minOccurs="0" name="WTAmountFC" type="s:double" />
            <s:element minOccurs="0" name="VatDate" type="s:date" />
            <s:element minOccurs="0" name="DocumentsOwner" type="s:long" />
            <s:element minOccurs="0" name="FolioPrefixString" type="s:string" />
            <s:element minOccurs="0" name="FolioNumber" type="s:long" />
            <s:element minOccurs="0" name="DocumentSubType">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="bod_None" />
                  <s:enumeration value="bod_InvoiceExempt" />
                  <s:enumeration value="bod_DebitMemo" />
                  <s:enumeration value="bod_Bill" />
                  <s:enumeration value="bod_ExemptBill" />
                  <s:enumeration value="bod_PurchaseDebitMemo" />
                  <s:enumeration value="bod_ExportInvoice" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="BPChannelCode" type="s:string" />
            <s:element minOccurs="0" name="BPChannelContact" type="s:long" />
            <s:element minOccurs="0" name="Address2" type="s:string" />
            <s:element minOccurs="0" name="DocumentStatus">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="bost_Open" />
                  <s:enumeration value="bost_Close" />
                  <s:enumeration value="bost_Paid" />
                  <s:enumeration value="bost_Delivered" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="PeriodIndicator" type="s:string" />
            <s:element minOccurs="0" name="PayToCode" type="s:string" />
            <s:element minOccurs="0" name="ManualNumber" type="s:string" />
            <s:element minOccurs="0" name="UseShpdGoodsAct">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="IsPayToBank">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="PayToBankCountry" type="s:string" />
            <s:element minOccurs="0" name="PayToBankCode" type="s:string" />
            <s:element minOccurs="0" name="PayToBankAccountNo" type="s:string" />
            <s:element minOccurs="0" name="PayToBankBranch" type="s:string" />
            <s:element minOccurs="0" name="BPL_IDAssignedToInvoice" type="s:long" />
            <s:element minOccurs="0" name="DownPayment" type="s:double" />
            <s:element minOccurs="0" name="ReserveInvoice">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="LanguageCode" type="s:long" />
            <s:element minOccurs="0" name="TrackingNumber" type="s:string" />
            <s:element minOccurs="0" name="PickRemark" type="s:string" />
            <s:element minOccurs="0" name="ClosingDate" type="s:date" />
            <s:element minOccurs="0" name="SequenceCode" type="s:long" />
            <s:element minOccurs="0" name="SequenceSerial" type="s:long" />
            <s:element minOccurs="0" name="SeriesString" type="s:string" />
            <s:element minOccurs="0" name="SubSeriesString" type="s:string" />
            <s:element minOccurs="0" name="SequenceModel" type="s:string" />
            <s:element minOccurs="0" name="UseCorrectionVATGroup">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="TotalDiscount" type="s:double" />
            <s:element minOccurs="0" name="DownPaymentAmount" type="s:double" />
            <s:element minOccurs="0" name="DownPaymentPercentage" type="s:double" />
            <s:element minOccurs="0" name="DownPaymentType">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="dptRequest" />
                  <s:enumeration value="dptInvoice" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="DownPaymentAmountSC" type="s:double" />
            <s:element minOccurs="0" name="DownPaymentAmountFC" type="s:double" />
            <s:element minOccurs="0" name="VatPercent" type="s:double" />
            <s:element minOccurs="0" name="OpeningRemarks" type="s:string" />
            <s:element minOccurs="0" name="ClosingRemarks" type="s:string" />
            <s:element minOccurs="0" name="InsuranceOperation347">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="RoundingDiffAmount" type="s:double" />
            <s:element minOccurs="0" name="RoundingDiffAmountFC" type="s:double" />
            <s:element minOccurs="0" name="RoundingDiffAmountSC" type="s:double" />
            <s:element minOccurs="0" name="Cancelled">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="U_WORItem" type="s:string" />
            <s:element minOccurs="0" name="U_WORModel" type="s:string" />
            <s:element minOccurs="0" name="U_WORCmpln" type="s:string" />
            <s:element minOccurs="0" name="U_WORSONo" type="s:long" />
            <s:element minOccurs="0" name="U_WORSuffx" type="s:string" />
            <s:element minOccurs="0" name="U_WORCallT" type="s:string" />
            <s:element minOccurs="0" name="U_WORWarTm" type="s:string" />
            <s:element minOccurs="0" name="U_WORNaked" type="s:string" />
            <s:element minOccurs="0" name="U_WORCabnt" type="s:string" />
            <s:element minOccurs="0" name="U_WORSwivl" type="s:string" />
            <s:element minOccurs="0" name="U_WORRack" type="s:string" />
            <s:element minOccurs="0" name="U_WORRckSl" type="s:string" />
            <s:element minOccurs="0" name="U_WORBook" type="s:string" />
            <s:element minOccurs="0" name="U_WORCord" type="s:string" />
            <s:element minOccurs="0" name="U_WORKeys" type="s:string" />
            <s:element minOccurs="0" name="U_WORPCBMd" type="s:string" />
            <s:element minOccurs="0" name="U_WORPatt" type="s:string" />
            <s:element minOccurs="0" name="U_WORBrokn" type="s:string" />
            <s:element minOccurs="0" name="U_WORVidCd" type="s:string" />
            <s:element minOccurs="0" name="U_WORKeybd" type="s:string" />
            <s:element minOccurs="0" name="U_WORMouse" type="s:string" />
            <s:element minOccurs="0" name="U_WORCmpSy" type="s:string" />
            <s:element minOccurs="0" name="U_WORFreqH" type="s:string" />
            <s:element minOccurs="0" name="U_WORFreqV" type="s:string" />
            <s:element minOccurs="0" name="U_WORRslnH" type="s:string" />
            <s:element minOccurs="0" name="U_WORRslnV" type="s:string" />
            <s:element minOccurs="0" name="U_WORSync" type="s:string" />
            <s:element minOccurs="0" name="U_WORSizeH" type="s:string" />
            <s:element minOccurs="0" name="U_WORSizeV" type="s:string" />
            <s:element minOccurs="0" name="U_WORVidTp" type="s:string" />
            <s:element minOccurs="0" name="U_WORACIn" type="s:string" />
            <s:element minOccurs="0" name="U_WORPrRmk" type="s:string" />
            <s:element minOccurs="0" name="U_SOOrigin" type="s:string" />
            <s:element minOccurs="0" name="U_SOProbTp" type="s:string" />
            <s:element minOccurs="0" name="U_SOCallTp" type="s:string" />
            <s:element minOccurs="0" name="U_SOEval" type="s:string" />
            <s:element minOccurs="0" name="U_SOEmailAd" type="s:string" />
            <s:element minOccurs="0" name="U_SOOutTyp" type="s:string" />
            <s:element minOccurs="0" name="U_SOIns" type="s:string" />
            <s:element minOccurs="0" name="U_SOInsAmt" type="s:double" />
            <s:element minOccurs="0" name="U_SOAcct" type="s:string" />
            <s:element minOccurs="0" name="U_SOEntBy" type="s:string" />
            <s:element minOccurs="0" name="U_SOSize" type="s:string" />
            <s:element minOccurs="0" name="U_SOCrt" type="s:string" />
            <s:element minOccurs="0" name="U_SOBW" type="s:string" />
            <s:element minOccurs="0" name="U_SOFreqHz" type="s:string" />
            <s:element minOccurs="0" name="U_SOFreqVt" type="s:string" />
            <s:element minOccurs="0" name="U_SOAspect" type="s:string" />
            <s:element minOccurs="0" name="U_SOVolt" type="s:string" />
            <s:element minOccurs="0" name="U_SOConn1" type="s:string" />
            <s:element minOccurs="0" name="U_SOConnHD" type="s:string" />
            <s:element minOccurs="0" name="U_SOConnDB" type="s:string" />
            <s:element minOccurs="0" name="U_SOConnD" type="s:string" />
            <s:element minOccurs="0" name="U_SOConn13" type="s:string" />
            <s:element minOccurs="0" name="U_SOConnOt" type="s:string" />
            <s:element minOccurs="0" name="U_POReqJob" type="s:long" />
            <s:element minOccurs="0" name="U_POReqStp" type="s:string" />
            <s:element minOccurs="0" name="U_POReqAp1" type="s:string" />
            <s:element minOccurs="0" name="U_POReqAp2" type="s:string" />
            <s:element minOccurs="0" name="U_POReqAp3" type="s:string" />
            <s:element minOccurs="0" name="U_POReqAp4" type="s:string" />
            <s:element minOccurs="0" name="U_POReqAp5" type="s:string" />
            <s:element minOccurs="0" name="U_POReqItm" type="s:string" />
            <s:element minOccurs="0" name="U_POReqCst" type="s:string" />
            <s:element minOccurs="0" name="U_POReqPO" type="s:string" />
            <s:element minOccurs="0" name="U_SQType" type="s:string" />
            <s:element minOccurs="0" name="U_SOInbCar" type="s:string" />
            <s:element minOccurs="0" name="U_PORMA" type="s:string" />
            <s:element minOccurs="0" name="U_SOWarr" type="s:long" />
            <s:element minOccurs="0" name="U_a_contract" type="s:long" />
            <s:element minOccurs="0" name="U_a_cust" type="s:string" />
            <s:element minOccurs="0" name="U_WORVdIp1" type="s:string" />
            <s:element minOccurs="0" name="U_WORVdIp2" type="s:string" />
            <s:element minOccurs="0" name="U_WORVdIp3" type="s:string" />
            <s:element minOccurs="0" name="U_WORVdIp4" type="s:string" />
            <s:element minOccurs="0" name="U_WORVdIp5" type="s:string" />
            <s:element minOccurs="0" name="U_WORVdIp6" type="s:string" />
            <s:element minOccurs="0" name="U_WORSyTst" type="s:string" />
            <s:element minOccurs="0" name="U_WORSyTsO" type="s:string" />
            <s:element minOccurs="0" name="U_WORLumin" type="s:string" />
            <s:element minOccurs="0" name="U_WORLmFLT" type="s:string" />
            <s:element minOccurs="0" name="U_WORLumX" type="s:long" />
            <s:element minOccurs="0" name="U_WORLumY" type="s:long" />
            <s:element minOccurs="0" name="U_WORPstRm" type="s:string" />
            <s:element minOccurs="0" name="U_ITWONo" type="s:long" />
            <s:element minOccurs="0" name="U_ITReqNo" type="s:string" />
            <s:element minOccurs="0" name="U_ITEstSTV" type="s:string" />
            <s:element minOccurs="0" name="U_SQCreate" type="s:string" />
            <s:element minOccurs="0" name="U_POFOB" type="s:string" />
            <s:element minOccurs="0" name="U_ARInvOJ" type="s:string" />
            <s:element minOccurs="0" name="U_ARInvORA" type="s:string" />
            <s:element minOccurs="0" name="U_ARInvOInv" type="s:string" />
            <s:element minOccurs="0" name="U_ITSTV" type="s:string" />
            <s:element minOccurs="0" name="U_WOSerialNo" type="s:string" />
            <s:element minOccurs="0" name="U_WOCustPartNo" type="s:string" />
            <s:element minOccurs="0" name="U_DelSONum" type="s:string" />
            <s:element minOccurs="0" name="U_DelWONo" type="s:string" />
            <s:element minOccurs="0" name="U_NewSuffix" type="s:string" />
            <s:element minOccurs="0" name="U_EDIReady" type="s:string" />
            <s:element minOccurs="0" name="U_EDISend" type="s:string" />
            <s:element minOccurs="0" name="U_EDI_Batch_Number" type="s:long" />
            <s:element minOccurs="0" name="U_EDI_Date" type="s:date" />
            <s:element minOccurs="0" name="U_EDI_Time" type="s:time" />
            <s:element minOccurs="0" name="U_PO_Cont_Ext" type="s:string" />
            <s:element minOccurs="0" name="U_PO_Cont_Phone" type="s:string" />
            <s:element minOccurs="0" name="U_PO_Cont_Fax" type="s:string" />
            <s:element minOccurs="0" name="U_PO_Quest_Acct" type="s:string" />
            <s:element minOccurs="0" name="U_InspNeeded" type="s:string" />
            <s:element minOccurs="0" name="U_InspStatus" type="s:string" />
            <s:element minOccurs="0" name="U_InspDate" type="s:date" />
            <s:element minOccurs="0" name="U_NextStatus" type="s:string" />
            <s:element minOccurs="0" name="U_InspResult" type="s:string" />
            <s:element minOccurs="0" name="U_InspNiFAA" type="s:string" />
            <s:element minOccurs="0" name="U_InspNoPu" type="s:string" />
            <s:element minOccurs="0" name="U_APInvPO" type="s:long" />
            <s:element minOccurs="0" name="U_POShpInstr" type="s:string" />
            <s:element minOccurs="0" name="U_ContrInvType" type="s:string" />
            <s:element minOccurs="0" name="U_ContrTerm" type="s:string" />
            <s:element minOccurs="0" name="U_Remark1" type="s:string" />
            <s:element minOccurs="0" name="U_ContractNo" type="s:string" />
            <s:element minOccurs="0" name="U_ContrPeriod" type="s:string" />
            <s:element minOccurs="0" name="U_ContrCustomer" type="s:string" />
            <s:element minOccurs="0" name="U_LandingPONo" type="s:string" />
            <s:element minOccurs="0" name="U_PickNo" type="s:long" />
            <s:element minOccurs="0" name="U_ContrRevNo" type="s:long" />
            <s:element minOccurs="0" name="U_ExpItemNo" type="s:string" />
            <s:element minOccurs="0" name="U_CustType" type="s:string" />
            <s:element minOccurs="0" name="U_OriginSO" type="s:long" />
            <s:element minOccurs="0" name="U_BlindShip" type="s:string" />
            <s:element minOccurs="0" name="U_PLExist" type="s:string" />
            <s:element minOccurs="0" name="U_RFQ" type="s:string" />
            <s:element minOccurs="0" name="U_GPManual" type="s:long" />
            <s:element minOccurs="0" name="U_CommPctg" type="s:long" />
            <s:element minOccurs="0" name="U_SOITFromDate" type="s:date" />
            <s:element minOccurs="0" name="U_SOITToDate" type="s:date" />
            <s:element minOccurs="0" name="U_SalesComment" type="s:string" />
            <s:element minOccurs="0" name="U_GPPerct" type="s:long" />
            <s:element minOccurs="0" name="U_SalesTeam" type="s:string" />
            <s:element minOccurs="0" name="U_SQShip1" type="s:string" />
            <s:element minOccurs="0" name="U_SQShip2" type="s:string" />
            <s:element minOccurs="0" name="U_SQShip3" type="s:string" />
            <s:element minOccurs="0" name="U_SQShip4" type="s:string" />
            <s:element minOccurs="0" name="U_SQShip5" type="s:string" />
            <s:element minOccurs="0" name="U_SOCustType" type="s:string" />
            <s:element minOccurs="0" name="U_Length" type="s:long" />
            <s:element minOccurs="0" name="U_Width" type="s:long" />
            <s:element minOccurs="0" name="U_Height" type="s:long" />
            <s:element minOccurs="0" name="U_Weight" type="s:long" />
            <s:element minOccurs="0" name="U_DocType" type="s:string" />
            <s:element minOccurs="0" name="U_EstTech" type="s:string" />
            <s:element minOccurs="0" name="U_EstTRCmt" type="s:string" />
            <s:element minOccurs="0" name="U_EstCPLFirm" type="s:string" />
            <s:element minOccurs="0" name="U_EstDisDm" type="s:string" />
            <s:element minOccurs="0" name="U_EstDisCd" type="s:string" />
            <s:element minOccurs="0" name="U_EstRaBur" type="s:string" />
            <s:element minOccurs="0" name="U_EstPtAna" type="s:string" />
            <s:element minOccurs="0" name="U_EstRepTm" type="s:string" />
            <s:element minOccurs="0" name="U_EstApIm2" type="s:string" />
            <s:element minOccurs="0" name="U_EstApIm3" type="s:string" />
            <s:element minOccurs="0" name="U_EstApIm4" type="s:string" />
            <s:element minOccurs="0" name="U_EstApIm5" type="s:string" />
            <s:element minOccurs="0" name="U_EstApDa1" type="s:date" />
            <s:element minOccurs="0" name="U_EstApDa2" type="s:date" />
            <s:element minOccurs="0" name="U_EstApDa3" type="s:date" />
            <s:element minOccurs="0" name="U_EstApDa4" type="s:date" />
            <s:element minOccurs="0" name="U_EstApDa5" type="s:date" />
            <s:element minOccurs="0" name="U_EstPatBu" type="s:string" />
            <s:element minOccurs="0" name="U_EstApTm2" type="s:time" />
            <s:element minOccurs="0" name="U_EstApTm3" type="s:time" />
            <s:element minOccurs="0" name="U_STVCmt" type="s:string" />
            <s:element minOccurs="0" name="U_STVVia" type="s:string" />
            <s:element minOccurs="0" name="U_STVCost" type="s:double" />
            <s:element minOccurs="0" name="U_STVCode" type="s:string" />
            <s:element minOccurs="0" name="U_STVName" type="s:string" />
            <s:element minOccurs="0" name="U_STVMFDa" type="s:string" />
            <s:element minOccurs="0" name="U_STVPRCMT" type="s:string" />
            <s:element minOccurs="0" name="U_STVCntc" type="s:string" />
            <s:element minOccurs="0" name="U_EstApTm4" type="s:time" />
            <s:element minOccurs="0" name="U_EstApTm5" type="s:time" />
            <s:element minOccurs="0" name="U_EstTCost" type="s:double" />
            <s:element minOccurs="0" name="U_EstSgAmt" type="s:double" />
            <s:element minOccurs="0" name="U_SaleInst" type="s:string" />
            <s:element minOccurs="0" name="U_SaComment" type="s:string" />
            <s:element minOccurs="0" name="U_EstPCost" type="s:double" />
            <s:element minOccurs="0" name="U_EstLCost" type="s:double" />
            <s:element minOccurs="0" name="U_POReqAp6" type="s:string" />
            <s:element minOccurs="0" name="U_EstApIm6" type="s:string" />
            <s:element minOccurs="0" name="U_EstApDa6" type="s:date" />
            <s:element minOccurs="0" name="U_EstApTm6" type="s:time" />
            <s:element minOccurs="0" name="U_EstDelDa" type="s:date" />
            <s:element minOccurs="0" name="U_EstRepTy" type="s:string" />
            <s:element minOccurs="0" name="U_SAApCmt" type="s:string" />
            <s:element minOccurs="0" name="U_ApPW2" type="s:string" />
            <s:element minOccurs="0" name="U_ApPW3" type="s:string" />
            <s:element minOccurs="0" name="U_ApPW4" type="s:string" />
            <s:element minOccurs="0" name="U_ApPW5" type="s:string" />
            <s:element minOccurs="0" name="U_ApPW6" type="s:string" />
            <s:element minOccurs="0" name="U_EstSCost" type="s:double" />
            <s:element minOccurs="0" name="U_EstPrSe" type="s:string" />
            <s:element minOccurs="0" name="U_EstTRCm2" type="s:string" />
            <s:element minOccurs="0" name="U_EstRepT2" type="s:string" />
            <s:element minOccurs="0" name="U_EstRepTy2" type="s:string" />
            <s:element minOccurs="0" name="U_STVCost2" type="s:double" />
            <s:element minOccurs="0" name="U_EstPco2" type="s:double" />
            <s:element minOccurs="0" name="U_EstLCo2" type="s:double" />
            <s:element minOccurs="0" name="U_EstSCo2" type="s:double" />
            <s:element minOccurs="0" name="U_EstSgA2" type="s:double" />
            <s:element minOccurs="0" name="U_EstTCo2" type="s:double" />
            <s:element minOccurs="0" name="U_GPPerc2" type="s:double" />
            <s:element minOccurs="0" name="U_EstPrSe2" type="s:string" />
            <s:element minOccurs="0" name="U_CustAppr" type="s:string" />
            <s:element minOccurs="0" name="U_ForEstNo" type="s:long" />
            <s:element minOccurs="0" name="U_ForOptNo" type="s:string" />
            <s:element minOccurs="0" name="U_EstPtAn2" type="s:string" />
            <s:element minOccurs="0" name="U_PrMoCode" type="s:string" />
            <s:element minOccurs="0" name="U_BlanketPO" type="s:string" />
            <s:element minOccurs="0" name="U_DocSource" type="s:string" />
            <s:element minOccurs="0" name="U_crm_id" type="s:string" />
            <s:element minOccurs="0" name="DocumentLines">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="DocumentLine">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="LineNum" type="s:long" />
                        <s:element minOccurs="0" name="ItemCode" type="s:string" />
                        <s:element minOccurs="0" name="ItemDescription" type="s:string" />
                        <s:element minOccurs="0" name="Quantity" type="s:double" />
                        <s:element minOccurs="0" name="ShipDate" type="s:date" />
                        <s:element minOccurs="0" name="Price" type="s:double" />
                        <s:element minOccurs="0" name="PriceAfterVAT" type="s:double" />
                        <s:element minOccurs="0" name="Currency" type="s:string" />
                        <s:element minOccurs="0" name="Rate" type="s:double" />
                        <s:element minOccurs="0" name="DiscountPercent" type="s:double" />
                        <s:element minOccurs="0" name="VendorNum" type="s:string" />
                        <s:element minOccurs="0" name="SerialNum" type="s:string" />
                        <s:element minOccurs="0" name="WarehouseCode" type="s:string" />
                        <s:element minOccurs="0" name="SalesPersonCode" type="s:long" />
                        <s:element minOccurs="0" name="CommisionPercent" type="s:double" />
                        <s:element minOccurs="0" name="TreeType">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="iNotATree" />
                              <s:enumeration value="iAssemblyTree" />
                              <s:enumeration value="iSalesTree" />
                              <s:enumeration value="iProductionTree" />
                              <s:enumeration value="iTemplateTree" />
                              <s:enumeration value="iIngredient" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="AccountCode" type="s:string" />
                        <s:element minOccurs="0" name="UseBaseUnits">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="SupplierCatNum" type="s:string" />
                        <s:element minOccurs="0" name="CostingCode" type="s:string" />
                        <s:element minOccurs="0" name="ProjectCode" type="s:string" />
                        <s:element minOccurs="0" name="BarCode" type="s:string" />
                        <s:element minOccurs="0" name="VatGroup" type="s:string" />
                        <s:element minOccurs="0" name="Height1" type="s:double" />
                        <s:element minOccurs="0" name="Hight1Unit" type="s:long" />
                        <s:element minOccurs="0" name="Height2" type="s:double" />
                        <s:element minOccurs="0" name="Height2Unit" type="s:long" />
                        <s:element minOccurs="0" name="Lengh1" type="s:double" />
                        <s:element minOccurs="0" name="Lengh1Unit" type="s:long" />
                        <s:element minOccurs="0" name="Lengh2" type="s:double" />
                        <s:element minOccurs="0" name="Lengh2Unit" type="s:long" />
                        <s:element minOccurs="0" name="Weight1" type="s:double" />
                        <s:element minOccurs="0" name="Weight1Unit" type="s:long" />
                        <s:element minOccurs="0" name="Weight2" type="s:double" />
                        <s:element minOccurs="0" name="Weight2Unit" type="s:long" />
                        <s:element minOccurs="0" name="Factor1" type="s:double" />
                        <s:element minOccurs="0" name="Factor2" type="s:double" />
                        <s:element minOccurs="0" name="Factor3" type="s:double" />
                        <s:element minOccurs="0" name="Factor4" type="s:double" />
                        <s:element minOccurs="0" name="BaseType" type="s:long" />
                        <s:element minOccurs="0" name="BaseEntry" type="s:long" />
                        <s:element minOccurs="0" name="BaseLine" type="s:long" />
                        <s:element minOccurs="0" name="Volume" type="s:double" />
                        <s:element minOccurs="0" name="VolumeUnit" type="s:long" />
                        <s:element minOccurs="0" name="Width1" type="s:double" />
                        <s:element minOccurs="0" name="Width1Unit" type="s:long" />
                        <s:element minOccurs="0" name="Width2" type="s:double" />
                        <s:element minOccurs="0" name="Width2Unit" type="s:long" />
                        <s:element minOccurs="0" name="Address" type="s:string" />
                        <s:element minOccurs="0" name="TaxCode" type="s:string" />
                        <s:element minOccurs="0" name="TaxType">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tt_Yes" />
                              <s:enumeration value="tt_No" />
                              <s:enumeration value="tt_UseTax" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="TaxLiable">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="PickStatus">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="PickQuantity" type="s:double" />
                        <s:element minOccurs="0" name="PickListIdNumber" type="s:long" />
                        <s:element minOccurs="0" name="OriginalItem" type="s:string" />
                        <s:element minOccurs="0" name="BackOrder">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="FreeText" type="s:string" />
                        <s:element minOccurs="0" name="ShippingMethod" type="s:long" />
                        <s:element minOccurs="0" name="POTargetNum" type="s:long" />
                        <s:element minOccurs="0" name="POTargetEntry" type="s:string" />
                        <s:element minOccurs="0" name="POTargetRowNum" type="s:long" />
                        <s:element minOccurs="0" name="CorrectionInvoiceItem">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="ciis_Was" />
                              <s:enumeration value="ciis_ShouldBe" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="CorrInvAmountToStock" type="s:double" />
                        <s:element minOccurs="0" name="CorrInvAmountToDiffAcct" type="s:double" />
                        <s:element minOccurs="0" name="AppliedTax" type="s:double" />
                        <s:element minOccurs="0" name="AppliedTaxFC" type="s:double" />
                        <s:element minOccurs="0" name="AppliedTaxSC" type="s:double" />
                        <s:element minOccurs="0" name="WTLiable">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="DeferredTax">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="EqualizationTaxPercent" type="s:double" />
                        <s:element minOccurs="0" name="TotalEqualizationTax" type="s:double" />
                        <s:element minOccurs="0" name="TotalEqualizationTaxFC" type="s:double" />
                        <s:element minOccurs="0" name="TotalEqualizationTaxSC" type="s:double" />
                        <s:element minOccurs="0" name="NetTaxAmount" type="s:double" />
                        <s:element minOccurs="0" name="NetTaxAmountFC" type="s:double" />
                        <s:element minOccurs="0" name="NetTaxAmountSC" type="s:double" />
                        <s:element minOccurs="0" name="MeasureUnit" type="s:string" />
                        <s:element minOccurs="0" name="UnitsOfMeasurment" type="s:double" />
                        <s:element minOccurs="0" name="LineTotal" type="s:double" />
                        <s:element minOccurs="0" name="TaxPercentagePerRow" type="s:double" />
                        <s:element minOccurs="0" name="TaxTotal" type="s:double" />
                        <s:element minOccurs="0" name="ConsumerSalesForecast">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="ExciseAmount" type="s:double" />
                        <s:element minOccurs="0" name="TaxPerUnit" type="s:double" />
                        <s:element minOccurs="0" name="TotalInclTax" type="s:double" />
                        <s:element minOccurs="0" name="CountryOrg" type="s:string" />
                        <s:element minOccurs="0" name="SWW" type="s:string" />
                        <s:element minOccurs="0" name="TransactionType">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="botrntComplete" />
                              <s:enumeration value="botrntReject" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="DistributeExpense">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="ShipToCode" type="s:string" />
                        <s:element minOccurs="0" name="RowTotalFC" type="s:double" />
                        <s:element minOccurs="0" name="RowTotalSC" type="s:double" />
                        <s:element minOccurs="0" name="LastBuyInmPrice" type="s:double" />
                        <s:element minOccurs="0" name="LastBuyDistributeSumFc" type="s:double" />
                        <s:element minOccurs="0" name="LastBuyDistributeSumSc" type="s:double" />
                        <s:element minOccurs="0" name="LastBuyDistributeSum" type="s:double" />
                        <s:element minOccurs="0" name="StockDistributesumForeign" type="s:double" />
                        <s:element minOccurs="0" name="StockDistributesumSystem" type="s:double" />
                        <s:element minOccurs="0" name="StockDistributesum" type="s:double" />
                        <s:element minOccurs="0" name="StockInmPrice" type="s:double" />
                        <s:element minOccurs="0" name="PickStatusEx">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="dlps_Picked" />
                              <s:enumeration value="dlps_NotPicked" />
                              <s:enumeration value="dlps_ReleasedForPicking" />
                              <s:enumeration value="dlps_PartiallyPicked" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="TaxBeforeDPM" type="s:double" />
                        <s:element minOccurs="0" name="TaxBeforeDPMFC" type="s:double" />
                        <s:element minOccurs="0" name="TaxBeforeDPMSC" type="s:double" />
                        <s:element minOccurs="0" name="CFOPCode" type="s:string" />
                        <s:element minOccurs="0" name="CSTCode" type="s:string" />
                        <s:element minOccurs="0" name="Usage" type="s:long" />
                        <s:element minOccurs="0" name="TaxOnly">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="VisualOrder" type="s:long" />
                        <s:element minOccurs="0" name="BaseOpenQuantity" type="s:double" />
                        <s:element minOccurs="0" name="UnitPrice" type="s:double" />
                        <s:element minOccurs="0" name="LineStatus">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="bost_Open" />
                              <s:enumeration value="bost_Close" />
                              <s:enumeration value="bost_Paid" />
                              <s:enumeration value="bost_Delivered" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="PackageQuantity" type="s:double" />
                        <s:element minOccurs="0" name="Text" type="s:string" />
                        <s:element minOccurs="0" name="LineType">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="dlt_Regular" />
                              <s:enumeration value="dlt_Alternative" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="COGSCostingCode" type="s:string" />
                        <s:element minOccurs="0" name="COGSAccountCode" type="s:string" />
                        <s:element minOccurs="0" name="ChangeAssemlyBoMWarehouse" type="s:string" />
                        <s:element minOccurs="0" name="ItemDetails" type="s:string" />
                        <s:element minOccurs="0" name="ActualDeliveryDate" type="s:date" />
                        <s:element minOccurs="0" name="RemainingOpenQuantity" type="s:double" />
                        <s:element minOccurs="0" name="OpenAmount" type="s:double" />
                        <s:element minOccurs="0" name="OpenAmountFC" type="s:double" />
                        <s:element minOccurs="0" name="OpenAmountSC" type="s:double" />
                        <s:element minOccurs="0" name="U_WORNO" type="s:long" />
                        <s:element minOccurs="0" name="U_WORSymCd" type="s:string" />
                        <s:element minOccurs="0" name="U_WORTestC" type="s:string" />
                        <s:element minOccurs="0" name="U_WORRepCd" type="s:string" />
                        <s:element minOccurs="0" name="U_WORCause" type="s:string" />
                        <s:element minOccurs="0" name="U_WORTech" type="s:string" />
                        <s:element minOccurs="0" name="U_WORDate" type="s:date" />
                        <s:element minOccurs="0" name="U_WORDis" type="s:string" />
                        <s:element minOccurs="0" name="U_WORLoc" type="s:string" />
                        <s:element minOccurs="0" name="U_SORow" type="s:long" />
                        <s:element minOccurs="0" name="U_SOSerNo" type="s:string" />
                        <s:element minOccurs="0" name="U_POAvail" type="s:string" />
                        <s:element minOccurs="0" name="U_POReqNo" type="s:long" />
                        <s:element minOccurs="0" name="U_REQPONo" type="s:long" />
                        <s:element minOccurs="0" name="U_NBS_Bin" type="s:string" />
                        <s:element minOccurs="0" name="U_NBS_FromBin" type="s:string" />
                        <s:element minOccurs="0" name="U_PORMANo" type="s:string" />
                        <s:element minOccurs="0" name="U_POEstSTV" type="s:string" />
                        <s:element minOccurs="0" name="U_POJobNo" type="s:long" />
                        <s:element minOccurs="0" name="U_POStatus" type="s:string" />
                        <s:element minOccurs="0" name="U_DELTrack" type="s:string" />
                        <s:element minOccurs="0" name="U_WORFix" type="s:string" />
                        <s:element minOccurs="0" name="U_POCustNm" type="s:string" />
                        <s:element minOccurs="0" name="U_POSONum" type="s:long" />
                        <s:element minOccurs="0" name="U_POProblem" type="s:string" />
                        <s:element minOccurs="0" name="U_POSTV" type="s:string" />
                        <s:element minOccurs="0" name="U_POSrvcItm" type="s:string" />
                        <s:element minOccurs="0" name="U_POSrvcQty" type="s:string" />
                        <s:element minOccurs="0" name="U_InspFailReason" type="s:string" />
                        <s:element minOccurs="0" name="U_POSrvcDsc" type="s:string" />
                        <s:element minOccurs="0" name="U_BPCatNo" type="s:string" />
                        <s:element minOccurs="0" name="U_ContrPeriod" type="s:string" />
                        <s:element minOccurs="0" name="U_ContrCaseNo" type="s:long" />
                        <s:element minOccurs="0" name="U_ContraChangeNo" type="s:long" />
                        <s:element minOccurs="0" name="U_NBS_Update" type="s:date" />
                        <s:element minOccurs="0" name="U_WarrDay" type="s:long" />
                        <s:element minOccurs="0" name="U_WarrTerm" type="s:string" />
                        <s:element minOccurs="0" name="U_WarrBal" type="s:long" />
                        <s:element minOccurs="0" name="U_RepairType" type="s:string" />
                        <s:element minOccurs="0" name="U_COOrigin" type="s:string" />
                        <s:element minOccurs="0" name="U_HTCode" type="s:long" />
                        <s:element minOccurs="0" name="U_ShipCost" type="s:long" />
                        <s:element minOccurs="0" name="U_CommSale" type="s:long" />
                        <s:element minOccurs="0" name="U_CommMGR" type="s:long" />
                        <s:element minOccurs="0" name="U_CommVP" type="s:long" />
                        <s:element minOccurs="0" name="U_CommCat" type="s:string" />
                        <s:element minOccurs="0" name="U_CommPeriod" type="s:string" />
                        <s:element minOccurs="0" name="U_POSOLine" type="s:long" />
                        <s:element minOccurs="0" name="U_CommGP" type="s:long" />
                        <s:element minOccurs="0" name="U_NoChgApp" type="s:string" />
                        <s:element minOccurs="0" name="U_ExcTax" type="s:string" />
                        <s:element minOccurs="0" name="U_EstCost" type="s:double" />
                        <s:element minOccurs="0" name="U_VenCode" type="s:string" />
                        <s:element minOccurs="0" name="U_VendName" type="s:string" />
                        <s:element minOccurs="0" name="U_LeadTime" type="s:string" />
                        <s:element minOccurs="0" name="U_EstPONo" type="s:string" />
                        <s:element minOccurs="0" name="U_EstOpt" type="s:string" />
                        <s:element minOccurs="0" name="U_OrPartNo" type="s:string" />
                        <s:element minOccurs="0" name="U_EstCosTx" type="s:string" />
                        <s:element minOccurs="0" name="DocumentLineAdditionalExpenses">
                          <s:complexType>
                            <s:sequence>
                              <s:element minOccurs="0" maxOccurs="unbounded" name="DocumentLineAdditionalExpense">
                                <s:complexType>
                                  <s:all>
                                    <s:element minOccurs="0" name="LineNumber" type="s:long" />
                                    <s:element minOccurs="0" name="GroupCode" type="s:long" />
                                    <s:element minOccurs="0" name="ExpenseCode" type="s:long" />
                                    <s:element minOccurs="0" name="LineTotal" type="s:double" />
                                    <s:element minOccurs="0" name="LineTotalFC" type="s:double" />
                                    <s:element minOccurs="0" name="LineTotalSys" type="s:double" />
                                    <s:element minOccurs="0" name="PaidToDate" type="s:double" />
                                    <s:element minOccurs="0" name="PaidToDateFC" type="s:double" />
                                    <s:element minOccurs="0" name="PaidToDateSys" type="s:double" />
                                    <s:element minOccurs="0" name="TaxLiable">
                                      <s:simpleType>
                                        <s:restriction base="s:string">
                                          <s:enumeration value="tNO" />
                                          <s:enumeration value="tYES" />
                                        </s:restriction>
                                      </s:simpleType>
                                    </s:element>
                                    <s:element minOccurs="0" name="VatGroup" type="s:string" />
                                    <s:element minOccurs="0" name="TaxPercent" type="s:double" />
                                    <s:element minOccurs="0" name="TaxSum" type="s:double" />
                                    <s:element minOccurs="0" name="TaxSumFC" type="s:double" />
                                    <s:element minOccurs="0" name="TaxSumSys" type="s:double" />
                                    <s:element minOccurs="0" name="DeductibleTaxSum" type="s:double" />
                                    <s:element minOccurs="0" name="DeductibleTaxSumFC" type="s:double" />
                                    <s:element minOccurs="0" name="DeductibleTaxSumSys" type="s:double" />
                                    <s:element minOccurs="0" name="AquisitionTax">
                                      <s:simpleType>
                                        <s:restriction base="s:string">
                                          <s:enumeration value="tNO" />
                                          <s:enumeration value="tYES" />
                                        </s:restriction>
                                      </s:simpleType>
                                    </s:element>
                                    <s:element minOccurs="0" name="TaxCode" type="s:string" />
                                    <s:element minOccurs="0" name="TaxType">
                                      <s:simpleType>
                                        <s:restriction base="s:string">
                                          <s:enumeration value="aext_NormalTax" />
                                          <s:enumeration value="aext_NoTax" />
                                          <s:enumeration value="aext_UseTax" />
                                        </s:restriction>
                                      </s:simpleType>
                                    </s:element>
                                    <s:element minOccurs="0" name="TaxPaid" type="s:double" />
                                    <s:element minOccurs="0" name="TaxPaidFC" type="s:double" />
                                    <s:element minOccurs="0" name="TaxPaidSys" type="s:double" />
                                    <s:element minOccurs="0" name="EqualizationTaxPercent" type="s:double" />
                                    <s:element minOccurs="0" name="EqualizationTaxSum" type="s:double" />
                                    <s:element minOccurs="0" name="EqualizationTaxFC" type="s:double" />
                                    <s:element minOccurs="0" name="EqualizationTaxSys" type="s:double" />
                                    <s:element minOccurs="0" name="TaxTotalSum" type="s:double" />
                                    <s:element minOccurs="0" name="TaxTotalSumFC" type="s:double" />
                                    <s:element minOccurs="0" name="TaxTotalSumSys" type="s:double" />
                                    <s:element minOccurs="0" name="WTLiable">
                                      <s:simpleType>
                                        <s:restriction base="s:string">
                                          <s:enumeration value="tNO" />
                                          <s:enumeration value="tYES" />
                                        </s:restriction>
                                      </s:simpleType>
                                    </s:element>
                                    <s:element minOccurs="0" name="BaseGroup" type="s:long" />
                                    <s:element minOccurs="0" name="DistributionRule" type="s:string" />
                                  </s:all>
                                </s:complexType>
                              </s:element>
                            </s:sequence>
                          </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" name="SerialNumbers">
                          <s:complexType>
                            <s:sequence>
                              <s:element minOccurs="0" maxOccurs="unbounded" name="SerialNumber">
                                <s:complexType>
                                  <s:all>
                                    <s:element minOccurs="0" name="ManufacturerSerialNumber" type="s:string" />
                                    <s:element minOccurs="0" name="InternalSerialNumber" type="s:string" />
                                    <s:element minOccurs="0" name="ExpiryDate" type="s:date" />
                                    <s:element minOccurs="0" name="ManufactureDate" type="s:date" />
                                    <s:element minOccurs="0" name="ReceptionDate" type="s:date" />
                                    <s:element minOccurs="0" name="WarrantyStart" type="s:date" />
                                    <s:element minOccurs="0" name="WarrantyEnd" type="s:date" />
                                    <s:element minOccurs="0" name="Location" type="s:string" />
                                    <s:element minOccurs="0" name="Notes" type="s:string" />
                                    <s:element minOccurs="0" name="BatchID" type="s:string" />
                                    <s:element minOccurs="0" name="SystemSerialNumber" type="s:long" />
                                    <s:element minOccurs="0" name="BaseLineNumber" type="s:long" />
                                  </s:all>
                                </s:complexType>
                              </s:element>
                            </s:sequence>
                          </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" name="BatchNumbers">
                          <s:complexType>
                            <s:sequence>
                              <s:element minOccurs="0" maxOccurs="unbounded" name="BatchNumber">
                                <s:complexType>
                                  <s:all>
                                    <s:element minOccurs="0" name="BatchNumber" type="s:string" />
                                    <s:element minOccurs="0" name="ManufacturerSerialNumber" type="s:string" />
                                    <s:element minOccurs="0" name="InternalSerialNumber" type="s:string" />
                                    <s:element minOccurs="0" name="ExpiryDate" type="s:date" />
                                    <s:element minOccurs="0" name="ManufacturingDate" type="s:date" />
                                    <s:element minOccurs="0" name="AddmisionDate" type="s:date" />
                                    <s:element minOccurs="0" name="Location" type="s:string" />
                                    <s:element minOccurs="0" name="Notes" type="s:string" />
                                    <s:element minOccurs="0" name="Quantity" type="s:double" />
                                    <s:element minOccurs="0" name="BaseLineNumber" type="s:long" />
                                  </s:all>
                                </s:complexType>
                              </s:element>
                            </s:sequence>
                          </s:complexType>
                        </s:element>
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" name="DocumentAdditionalExpenses">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="DocumentAdditionalExpense">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="ExpenseCode" type="s:long" />
                        <s:element minOccurs="0" name="LineTotal" type="s:double" />
                        <s:element minOccurs="0" name="LineTotalFC" type="s:double" />
                        <s:element minOccurs="0" name="LineTotalSys" type="s:double" />
                        <s:element minOccurs="0" name="PaidToDate" type="s:double" />
                        <s:element minOccurs="0" name="PaidToDateFC" type="s:double" />
                        <s:element minOccurs="0" name="PaidToDateSys" type="s:double" />
                        <s:element minOccurs="0" name="Remarks" type="s:string" />
                        <s:element minOccurs="0" name="DistributionMethod">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="aedm_None" />
                              <s:enumeration value="aedm_Quantity" />
                              <s:enumeration value="aedm_Volume" />
                              <s:enumeration value="aedm_Weight" />
                              <s:enumeration value="aedm_Equally" />
                              <s:enumeration value="aedm_RowTotal" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="TaxLiable">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="VatGroup" type="s:string" />
                        <s:element minOccurs="0" name="TaxPercent" type="s:double" />
                        <s:element minOccurs="0" name="TaxSum" type="s:double" />
                        <s:element minOccurs="0" name="TaxSumFC" type="s:double" />
                        <s:element minOccurs="0" name="TaxSumSys" type="s:double" />
                        <s:element minOccurs="0" name="DeductibleTaxSum" type="s:double" />
                        <s:element minOccurs="0" name="DeductibleTaxSumFC" type="s:double" />
                        <s:element minOccurs="0" name="DeductibleTaxSumSys" type="s:double" />
                        <s:element minOccurs="0" name="AquisitionTax">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="TaxCode" type="s:string" />
                        <s:element minOccurs="0" name="TaxType">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="aext_NormalTax" />
                              <s:enumeration value="aext_NoTax" />
                              <s:enumeration value="aext_UseTax" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="TaxPaid" type="s:double" />
                        <s:element minOccurs="0" name="TaxPaidFC" type="s:double" />
                        <s:element minOccurs="0" name="TaxPaidSys" type="s:double" />
                        <s:element minOccurs="0" name="EqualizationTaxPercent" type="s:double" />
                        <s:element minOccurs="0" name="EqualizationTaxSum" type="s:double" />
                        <s:element minOccurs="0" name="EqualizationTaxFC" type="s:double" />
                        <s:element minOccurs="0" name="EqualizationTaxSys" type="s:double" />
                        <s:element minOccurs="0" name="TaxTotalSum" type="s:double" />
                        <s:element minOccurs="0" name="TaxTotalSumFC" type="s:double" />
                        <s:element minOccurs="0" name="TaxTotalSumSys" type="s:double" />
                        <s:element minOccurs="0" name="BaseDocEntry" type="s:long" />
                        <s:element minOccurs="0" name="BaseDocLine" type="s:long" />
                        <s:element minOccurs="0" name="BaseDocType" type="s:long" />
                        <s:element minOccurs="0" name="BaseDocumentReference" type="s:long" />
                        <s:element minOccurs="0" name="LineNum" type="s:long" />
                        <s:element minOccurs="0" name="LastPurchasePrice">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="Status">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="bost_Open" />
                              <s:enumeration value="bost_Close" />
                              <s:enumeration value="bost_Paid" />
                              <s:enumeration value="bost_Delivered" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="Stock">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="TargetAbsEntry" type="s:long" />
                        <s:element minOccurs="0" name="TargetType" type="s:long" />
                        <s:element minOccurs="0" name="WTLiable">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="DistributionRule" type="s:string" />
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" name="WithholdingTaxDataCollection">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="WithholdingTaxData">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="WTCode" type="s:string" />
                        <s:element minOccurs="0" name="WTAmountSys" type="s:double" />
                        <s:element minOccurs="0" name="WTAmountFC" type="s:double" />
                        <s:element minOccurs="0" name="WTAmount" type="s:double" />
                        <s:element minOccurs="0" name="WithholdingType" type="s:string" />
                        <s:element minOccurs="0" name="TaxableAmountinSys" type="s:double" />
                        <s:element minOccurs="0" name="TaxableAmountFC" type="s:double" />
                        <s:element minOccurs="0" name="TaxableAmount" type="s:double" />
                        <s:element minOccurs="0" name="RoundingType" type="s:string" />
                        <s:element minOccurs="0" name="Rate" type="s:double" />
                        <s:element minOccurs="0" name="Criteria" type="s:string" />
                        <s:element minOccurs="0" name="Category" type="s:string" />
                        <s:element minOccurs="0" name="BaseType" type="s:string" />
                        <s:element minOccurs="0" name="AppliedWTAmountSys" type="s:double" />
                        <s:element minOccurs="0" name="AppliedWTAmountFC" type="s:double" />
                        <s:element minOccurs="0" name="AppliedWTAmount" type="s:double" />
                        <s:element minOccurs="0" name="GLAccount" type="s:string" />
                        <s:element minOccurs="0" name="LineNum" type="s:long" />
                        <s:element minOccurs="0" name="BaseDocEntry" type="s:long" />
                        <s:element minOccurs="0" name="BaseDocLine" type="s:long" />
                        <s:element minOccurs="0" name="BaseDocType" type="s:long" />
                        <s:element minOccurs="0" name="BaseDocumentReference" type="s:long" />
                        <s:element minOccurs="0" name="Status">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="bost_Open" />
                              <s:enumeration value="bost_Close" />
                              <s:enumeration value="bost_Paid" />
                              <s:enumeration value="bost_Delivered" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="TargetAbsEntry" type="s:long" />
                        <s:element minOccurs="0" name="TargetDocumentType" type="s:long" />
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" name="DocumentSpecialLines">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="DocumentSpecialLine">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="LineNum" type="s:long" />
                        <s:element minOccurs="0" name="AfterLineNumber" type="s:long" />
                        <s:element minOccurs="0" name="OrderNumber" type="s:long" />
                        <s:element minOccurs="0" name="LineType">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="dslt_Text" />
                              <s:enumeration value="dslt_Subtotal" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="Subtotal" type="s:double" />
                        <s:element minOccurs="0" name="LineText" type="s:string" />
                        <s:element minOccurs="0" name="SubtotalFC" type="s:double" />
                        <s:element minOccurs="0" name="SubtotalSC" type="s:double" />
                        <s:element minOccurs="0" name="TaxAmount" type="s:double" />
                        <s:element minOccurs="0" name="TaxAmountFC" type="s:double" />
                        <s:element minOccurs="0" name="TaxAmountSC" type="s:double" />
                        <s:element minOccurs="0" name="Freight1" type="s:double" />
                        <s:element minOccurs="0" name="Freight1FC" type="s:double" />
                        <s:element minOccurs="0" name="Freight1SC" type="s:double" />
                        <s:element minOccurs="0" name="Freight2" type="s:double" />
                        <s:element minOccurs="0" name="Freight2FC" type="s:double" />
                        <s:element minOccurs="0" name="Freight2SC" type="s:double" />
                        <s:element minOccurs="0" name="Freight3" type="s:double" />
                        <s:element minOccurs="0" name="Freight3FC" type="s:double" />
                        <s:element minOccurs="0" name="Freight3SC" type="s:double" />
                        <s:element minOccurs="0" name="GrossTotal" type="s:double" />
                        <s:element minOccurs="0" name="GrossTotalFC" type="s:double" />
                        <s:element minOccurs="0" name="GrossTotalSC" type="s:double" />
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="MsgHeader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceName">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="OrdersService" />
                </s:restriction>
              </s:simpleType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="OrdersService">
      <s:import namespace="http://www.sap.com/SBO/DIS" />
      <s:element name="GetByParams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:DocumentParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Document" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Document" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Remove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:DocumentParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Close">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:DocumentParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:DocumentParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetByParamsSoapIn">
    <wsdl:part name="parameters" element="tns:GetByParams" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="GetByParamsSoapOut">
    <wsdl:part name="parameters" element="s1:GetByParamsResponse" />
  </wsdl:message>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="s1:AddResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="s1:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveSoapIn">
    <wsdl:part name="parameters" element="tns:Remove" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="RemoveSoapOut">
    <wsdl:part name="parameters" element="s1:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="CloseSoapIn">
    <wsdl:part name="parameters" element="tns:Close" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="CloseSoapOut">
    <wsdl:part name="parameters" element="s1:CloseResponse" />
  </wsdl:message>
  <wsdl:message name="CancelSoapIn">
    <wsdl:part name="parameters" element="tns:Cancel" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="CancelSoapOut">
    <wsdl:part name="parameters" element="s1:CancelResponse" />
  </wsdl:message>
  <wsdl:portType name="OrdersServiceSoap">
    <wsdl:operation name="GetByParams">
      <wsdl:input message="tns:GetByParamsSoapIn" />
      <wsdl:output message="tns:GetByParamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input message="tns:RemoveSoapIn" />
      <wsdl:output message="tns:RemoveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Close">
      <wsdl:input message="tns:CloseSoapIn" />
      <wsdl:output message="tns:CloseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <wsdl:input message="tns:CancelSoapIn" />
      <wsdl:output message="tns:CancelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrdersServiceSoap12" type="tns:OrdersServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetByParams">
      <soap12:operation soapAction="OrdersService/GetByParams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:GetByParamsSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="OrdersService/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:AddSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="OrdersService/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:UpdateSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap12:operation soapAction="OrdersService/Remove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:RemoveSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Close">
      <soap12:operation soapAction="OrdersService/Close" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:CloseSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <soap12:operation soapAction="OrdersService/Cancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:CancelSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrdersService">
    <wsdl:port name="OrdersServiceSoap12" binding="tns:OrdersServiceSoap12">
      <soap12:address location="http://10.10.1.8:8018/B1WS/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>